.progressive-image-container {
  position: relative;
  z-index: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;

  img {
    /* hide alt text in case the image cannot be loaded */
    font-size: 0;
  }
}

.progressive-image {
  position: absolute;
  z-index: -1;
  /* height: 100%; */
  /* width: 100%; */
  aspect-ratio: 16 / 9;
  object-fit: contain;

  transition:
    opacity 0.6s ease-in-out,
    visibility 0.6s ease-in-out;

  &.low-quality {
    filter: blur(10px);
  }

  &.high-quality {
    filter: none;
  }

  &.hidden {
    visibility: hidden;
    opacity: 0;
  }
}
