dialog {
  & .lightbox {
    padding: calc(var(--spacing) * 4);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    & figure {
      object-fit: contain;
    }
  }

  &::backdrop {
    background: var(--colors-slate-800);
    opacity: var(--opacity-75);
  }
}
