.slideContainer {
  /*  TODO SIZING OF THE IMAGES: CURRENTLY SCALING ISSUES FOR DIFFERENT IMAGE SIZES */
  --slide-width: calc(100%);
  /* --slide-height: calc(100% - theme(padding.8)); */
  --corner-radius: 16px;

  margin-inline: auto;
  border-radius: var(--corner-radius);
  width: var(--slide-width);
  height: var(--slide-height);
}

@media screen and (min-width: 1080px) {
  .slideContainer {
    --slide-width: 512px;
    /* --slide-height: 1024px; */
  }
}

.slideShow {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  overscroll-behavior-x: contain;
}

.slide {
  flex-shrink: 0;
  margin: 0;
  scroll-snap-align: end;

  border-radius: var(--corner-radius);
  width: var(--slide-width);
  /* height: var(--slide-height); */

  /* centering the content removes the vertical scrollbar */
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide > img {
  min-height: 0;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
