.card {
  position: relative;
  display: grid;
  gap: calc(var(--spacing) * 4);
  height: calc(var(--spacing) * 64);
  border-radius: var(--radius-md);
  transition: rotateX 150ms ease-in;

  > figure {
    position: absolute;
    z-index: -1;
  }
}

.card:hover {
  transform: rotateX(25deg);
  box-shadow: 0px 10px 10px -5px var(--color-fuchsia-300);
}
