dialog {
  & .lightbox {
    width: min(100vw, 1280px);
    max-width: 100vw;
    max-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    & figure {
      object-fit: contain;
    }
  }

  &::backdrop {
    background: var(--colors-slate-800);
    opacity: var(--opacity-75);
  }
}
