.loader {
  border: theme('borderWidth.4') solid theme('borderColor.slate.100');
  border-top: theme('borderWidth.4') solid theme('borderColor.fuchsia.400');
  border-radius: theme('borderRadius.full');
  width: theme('width.16');
  height: theme('height.16');
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
